body {
    font-family: Nunito;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 15% 80% 5%;
    height: 100vh; /* Ajusta la altura del cuerpo a la altura de la ventana del navegador */
  }

  header{
    width: 100%;
    background-color: #E66D22;
    position: relative;
    overflow: hidden;
  }

  header div{
    white-space: nowrap;
  }

  header img{
    display: inline-block;
    vertical-align: top;
    object-fit: cover;
    border:none;
    margin-right: -4px;
  }
  
  .content{
    overflow: hidden;
  }

  .logo{
    float: left;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
  }

  .div_logo{
    display: block;
    width: 100%;
    height: 100%;
    padding: auto;
    text-align: center;
  }

  .div_logo img{
    display: inline-block;
    width: 50%;
  }

  .bienvenido{
    display: block;
    font-size: 5em;
    color:#E66D22 ;
    width: 100%;
    text-align: center;
  }

  .initial_form, .form_admin, .form_tablet{
    float: right;
    width: 50%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .login{
    display: block;
    font-size: 4em;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .ident{
    display: block;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 1em;
    padding: 0;
  }

  .buttons{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .links button{
    background-color: #E66D22;
    display: block;
    border:0;
    margin: 1em auto;
    width: 100%;
    font-size: 2em;
    padding: .35em .7em;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
  }

  .form_admin form, .form_tablet form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form_admin form input{
    margin: .5em 0;
    width: 100%;
    font-size: 2em;
    padding: .35em .7em;
    border-radius: 10px;
  }

  .form_tablet form input{
    margin: .4em 0;
    width: 100%;
    font-size: 1.5em;
    padding: .35em .7em;
    border-radius: 10px;
  }

  .form_tablet form select{
    margin: .4em 0;
    width: 110%;
    font-size: 1.5em;
    padding: .35em .7em;
    border-radius: 10px;
  }

  .iniciar{
    background-color: #E66D22;
    display: block;
    border:0;
    margin: 1em 0;
    font-size: 2em;
    padding: .35em .7em;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 100%;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }

  .return_initial_form{
    border: 0;
    font-size: 1em;
    color: #E66D22;
    background-color:white;
    padding: .5em;
    transition: color 0.3s ease-in-out;
  }

  .links button:hover{
    background-color: #FF4500;
  }
  
  .iniciar:hover{
    background-color: #FF4500;
  }

  .return_initial_form:hover{
    color: #FF4500;
  }

  .active{
    display: flex;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E66D22;
    color: white;
  }

  footer p{
    text-align: center;
  }