{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>50 Amigos - Bienvenido</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico '%}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/panel_user.css'%}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/d5b36fd0cc.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="logo">
            <p>Mesa #, Ubicación</p>
            <img class="logo_img" src="{% static 'assets/logos/50amigos.png'%}" alt="">
        </div>
        <div class="panel_center">
            <p class="menu_title">Menú principal</p>
            <p class="question">¿Qué deseas comer hoy?</p>
        </div>
        <div class="buttons">
            <button class="button_panel">
                <a href="{% url 'App50Amigos:carrito'%}">
                    <p>Carrito</p>
                    <img src="{% static 'assets/icon/shop.png'%}" alt="">
                </a>
            </button>

            <button class="button_panel">
                <a href="{% url 'App50Amigos:votacion'%}">
                    <p>Helado</p> 
                    <img src="{% static 'assets/icon/ice_cream.png'%}" alt="">
                </a>
            </button>
        
        </div>
    </header>
    <section class="content">
        <a href="" class="category_card">
            <p>Entradas</p>
            <img src="{% static 'assets/categories/entrada.jpg'%}" alt="">
        </a>
        <a href="" class="category_card">
            <p>Platos <br> principales</p>
            <img src="{% static 'assets/categories/plato_fuerte.jpg' %}" alt="">
        </a>
        <a href="" class="category_card">
            <p>Bebidas</p>
            <img src="{% static 'assets/categories/bebidas.jpg' %}" alt="">
        </a>
        <a href="" class="category_card">
            <p>Postres</p>
            <img src="{% static 'assets/categories/postre.jpg' %}" alt="">
        </a>
    </section>
    <section class="entradas">
        {% for entrada in entradas%}
            <div class="card">
                <img src="{{entrada.imagen}}" alt="">
                <div class="info">
                    <p class="nombre_platillo">{{entrada.nombre}}</p>
                    <p class="descripcion_platillo">{{entrada.descripcion}} </p>
                    <div class="add_bill">
                        <p class="costo_platillo">MX${{entrada.costo}}</p>
                        <a href="">+</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="postres">
        {% for postre in postres%}
            <div class="card">
                <img src="{{postre.imagen}}" alt="">
                <div class="info">
                    <p class="nombre_platillo">{{postre.nombre}}</p>
                    <p class="descripcion_platillo">{{postre.descripcion}} </p>
                    <div class="add_bill">
                        <p class="costo_platillo">MX${{postre.costo}}</p>
                        <a href="">+</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="platos_fuertes">
        {% for plato_fuerte in platos_fuertes%}
            <div class="card">
                <img src="{{plato_fuerte.imagen}}" alt="">
                <div class="info">
                    <p class="nombre_platillo">{{plato_fuerte.nombre}}</p>
                    <p class="descripcion_platillo">{{plato_fuerte.descripcion}} </p>
                    <div class="add_bill">
                        <p class="costo_platillo">MX${{plato_fuerte.costo}}</p>
                        <a href="">+</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    <section class="bebidas">
        {% for bebida in bedidas%}
            <div class="card">
                <img src="{{bebida.imagen}}" alt="">
                <div class="info">
                    <p class="nombre_platillo">{{bebida.nombre}}</p>
                    <p class="descripcion_platillo">{{bebida.descripcion}} </p>
                    <div class="add_bill">
                        <p class="costo_platillo">MX${{bebida.costo}}</p>
                        <a href="">+</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="{% static 'js/index.js'%}"></script>
</html>