{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>50 Amigos - Bienvenido</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico '%}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/fondo.css'%}" rel="stylesheet" />
</head>

<body>
    <section class="content">
        <div class="logo">
            <img src="{% static 'assets/logos/50amigos_negativo.png'%}" alt="">
        </div>
        <form class="initial_form" id="initial_form" method="POST">
            {% csrf_token %}
            <p class="welcome">Bienvenidos</p>
            <button type="submit" class="order">Ordenar</button>
        </form>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="{% static 'js/index.js'%}"></script>
</html>